
<script type="text/ng-template" id="whatsyourname.html">
    <div>
        <div ng-repeat="row in SchemaInfo" ng-controller="SearchController">
            <span class="label">Table Name</span>  <select ng-class="dropdown" ng-options="table.tblName for  table in row.tables | unique:'tblName'" ng-model="row.selectedtable"></select> <span class="label">Field Name</span>
            <select ng-class="dropdown" ng-options="column.ColumnName for column in row.tables | filter:{ tblId: row.selectedtable.tblId} " ng-model="row.selectedField"></select>
            <label ng-repeat="column in row.tables | filter:{ tblId: row.selectedtable.tblId}">
                <input type="checkbox" checklist-model="column.ColumnName" checklist-value="column.ColId">
                {{column}}
            </label>
        </div>
    </div>
</script> 