
<div class="topdiv">
    <div class="side left"></div>
    <div class="MainContainer">

        <div style="width:100%">
            <!--<table style="width:100%" ng-table="tableParams" class="table ng-table-responsive">-->
            <table style="width:100%" ng-table="tableParams" class="table">
                <tbody ng-repeat="group in $groups" ng-controller="groupCtrl">
                    <tr class="ng-table-group">
                        <td colspan="{{$columns.length}}" ng-show="group.data[0]['isGrouped']===true">

                            <a href="" ng-click="group.$hideRows = !group.$hideRows">
                                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                                <span>{{(group.data[0]['isGrouped'])?( ( group.data[0]['isOR']===true)?'Or':'And'):''}}</span>
                            </a>

                            <div show-on-row-hover style="display:none;float:left">
                                <i tooltip-popup-delay="0" tooltip-placement="top" tooltip="Some tooltip text" class="icon-info-sign"></i>

                            </div>
                            <div show-on-row-hover style="display:none;float:right" class="contextMenu">
                                <ul show-on-row-hover style="display:none;">
                                    <li id="contextmenu">

                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="btn-link" ng-click="UnGroup(group.value)">
                                                    Un group
                                                </a>

                                            </li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr ng-hide="group.$hideRows" ng-repeat="row in group.data">
                        <td> 
                            <input type="checkbox" ng-model="row.isSelected" /> 
                            <span class="label">Table Name</span> <select ng-class="dropdown"
        ng-options="table.tblName for  table in tables | unique:'tblName' track by table.tblId " ng-model="row.selectedtable"></select>
                            <span class="label">Field Name</span> 
                            <select ng-class="dropdown" ng-options="column.ColumnName for column in tables | filter:{ tblId: row.selectedtable.tblId} track by column.ColId   "
                                    ng-model="row.selectedField"></select>
                            <span class="label">Operator</span><select ng-class="dropdown" ng-options="item.OperatorName for item in operator | filter:{ datatypeSupported: row.selectedField.DataTypeId} track by item.OperatorId   "
        ng-model="row.selectedOperator"></select>
                            <input id="txtValue" ng-model="row.selectedValue" /> 
                            <img src="../images/Add.jpg" ng-click="addNewRow()" />
                            <img src="../images/Remove.jpg" ng-show="rows.length>1" ng-click="removeRow(item)" />
                        </td>

                    </tr>
                </tbody>
            </table>
            <!--</table>-->
        </div>
        <div>
            <button type="button" ng-click="SaveRule()">Save</button>
            <button type="button" ng-click="GroupAnd()">Group AND</button>
            <button type="button" ng-click="GroupOr()">Group OR</button>

            <!--<button type="button" ng-click="toggleModal()">Config</button>-->
            <modal-dialog show='modalShown' width='400px' height='80%'>
                <div style="border: 1px solid black;height: 88%;margin-top: 3%;">
                    <div ng-repeat="row in Configrows" ng-controller="SearchController">
                        <span class="label">Table Name</span>  <select ng-class="dropdown" ng-options="table.tblName for  table in row.AlltableSchema | unique:'tblName'" ng-model="row.selectedtable"></select>


                        <span style="float:left" ng-repeat="column in row.AlltableSchema | filter:{ tblId: row.selectedtable.tblId}">
                            <input type="checkbox" ng-checked="(column.isConfigured==1)" checklist-model="isConfigured" checklist-value="column.ColId">{{column.ColumnName}}

                        </span>
                    </div>
                    <div><button type="button" ng-click="SaveConfigFields()">Save</button></div>
                </div>
            </modal-dialog>
        </div>
        <div style="margin-top: 4%;">
            <table id="searchGrid"></table>

        </div>
    </div>
</div>

